@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ List<FileUpload> files = ViewBag.files;
    List<FilestorageView> storage = ViewBag.storage;
    CultureInfo THinfo = new CultureInfo("th-TH");
}
@using TestUpload.Models.Entity;
@using TestUpload.Models.View;
@using System.Globalization
<script src="~/js/FilesIndex.js"></script>
<link rel="stylesheet" href="~/css/Loading.css" />
<div class="document">
    <center>
        <h1><b>My Files</b></h1>
    </center>
    <br />

    <div class="input-group mb-3" style="width:50%">
        <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon3">Search Filenames</span>
        </div>
        <input type="text" class="form-control" id="KeyInp" aria-describedby="basic-addon3" onkeyup="Commonsearch()">
        <div class="input-group-append">
            <button class="btn btn-warning" type="button" id="button-addon2" data-toggle="modal" data-target="#exampleModal">Advanced Search</button>
        </div>
    </div>
    <br />
    <button class="btn btn-primary" onclick="window.location.href='/Files/Uploads'">Add Files</button>
    &nbsp;&nbsp;
    <button class="btn btn-danger" data-toggle="modal" data-target="#Formatmodal">Format</button>
    <br />
    <br />
    <br />
    <div>
        <h1><b>Total Used : @ViewBag.space</b></h1>
    </div>
    <br />
    <br />
    <table class="table table-hover table-bordered" style="text-align:center" id="Myupload">
        <thead class="table-dark">
            <tr>

                <th onclick="sortTable(0)">Id</th>
                <th onclick="sortTable(1)">Filename</th>
                <th onclick="sortTable(2)">Filesize</th>
                <th onclick="sortTable(3)">Date Created</th>
                <th onclick="sortTable(4)">Namespace</th>
                <th onclick="sortTable(5)">Stored Type</th>
                <th onclick="sortTable(6)">Password</th>
                <th onclick="sortTable(7)">Status</th>
                <th>action</th>

            </tr>

        </thead>
        <tbody class="table-success" id="TBL">
            @foreach (FileUpload file in files)
            {
                var filesize = string.Empty;
                if(file.FileSize <1024)
                {
                    filesize = file.FileSize + " Bytes";
                }
                else if(file.FileSize < (1024*1024))
                {
                    filesize = (file.FileSize/1024).ToString("0.00") + " kB";
                }
                else if (file.FileSize < (1024 * 1024*1024))
                {
                    filesize = (file.FileSize / (1024*1024)).ToString("0.00") + " MB";
                }
                else
                {
                    filesize = (file.FileSize / (1024 * 1024*1024)).ToString("0.00") + " GB";
                }
                string status = file.Shared ? "Public" : "Private";
                <tr>                   
                    <td>@file.Id</td>
                    <td>@file.Filename@file.FileExtension</td>
                    <td>@filesize</td>
                    <td>@file.AddDate.ToLongDateString()</td>
                    <td>@file.Uploadname </td>
                    <td>File</td>
                    <td>
                        @if (!string.IsNullOrEmpty(file.pass))
                        {
                            <i class="flag icon"></i>
                        }
                    </td>
                    <td>@status</td>
                    <td>
                        <i class="download icon" onclick="window.open('/Files/Download/@file.Id');"></i>
                        @if (!string.IsNullOrEmpty(file.pass))
                        {
                            <i class="trash alternate icon" onclick="window.location.href = '/Files/Verifyremove/@file.Id'"></i>
                        }
                        else
                        {
                            <i class="trash alternate icon" onclick="DeleteF('/Files/Remove/@file.Id')"></i>
                        }
                    </td>

                </tr>
            }

            @foreach (FilestorageView file in storage)
            {

                var filesize = string.Empty;
                if (file.FileSize < 1024)
                {
                    filesize = file.FileSize + " Bytes";
                }
                else if (file.FileSize < (1024 * 1024))
                {
                    filesize = (file.FileSize / 1024).ToString("0.00") + " kB";
                }
                else if (file.FileSize < (1024 * 1024 * 1024))
                {
                    filesize = (file.FileSize / (1024 * 1024)).ToString("0.00") + " MB";
                }
                else
                {
                    filesize = (file.FileSize / (1024 * 1024 * 1024)).ToString("0.00") + " GB";
                }
                string status = file.Shared ? "Public" : "Private";

                <tr>
                    
                    <td>@file.Id</td>
                    <td>@file.Filename@file.FileExtension</td>
                    <td>@filesize</td>
                    <td>@file.AddDate.ToLongDateString()</td>
                    <td>@file.Uploadname</td>
                    <td>Blob Storage</td>
                    <td>
                        @if (file.HasPassword)
                        {
                            <i class="flag icon"></i>
                        }
                    </td>
                    <td>@status</td>

                    <td>

                        <i class="download icon" onclick="window.open('/Blob/Download/@file.Id');"></i>
                        @if (file.HasPassword)
                        {
                            <i class="trash alternate icon" onclick="window.location.href = '/Blob/Verifyremove/@file.Id'"></i>
                        }
                        else
                        {
                            <i class="trash alternate icon" onclick="DeleteF('/Blob/Remove/@file.Id')"></i>
                        }

                    </td>

                </tr>
            }

            @if ((files == null || files.Count == 0) && (storage == null || storage.Count == 0))
            {
            <td colspan="9"> No Uploaded Files</td>
        }


            </tbody>

        </table>



    </div>

    <!--AdvancedSearch Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Advanced Search</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="post">
                    <div class="modal-body">

                        <h1>Add Date</h1>
                        <hr />

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Start</span>
                            </div>
                            <input type="date" name="datestart" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">End</span>
                            </div>
                            <input type="date" name="dateend" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                        </div>

                        <h1>File Type</h1>
                        <hr />

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">File Namespace</span>
                            </div>
                            <select name="content" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <option value="">All Namespaces</option>
                                @foreach (var i in ViewBag.Ctype)
                                {
                                    var pth = i;
                                    if (string.IsNullOrEmpty(pth))
                                    {
                                        pth = "[No Namespaces]";
                                    }
                                    <option value="@pth">@pth</option>
                                }
                            </select>
                        </div>


                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">File Extension</span>
                            </div>
                            <select name="ext" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <option value="">All Extension</option>
                                @foreach (var i in ViewBag.Extension)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Storage Type</span>
                            </div>
                            <select name="mode" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <option value="0">All Type</option>
                                <option value="1">Files</option>
                                <option value="2">Blobs</option>
                            </select>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-default">Status</span>
                            </div>
                            <select name="status" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                                <option value="0">All Type</option>
                                <option value="1">Private</option>
                                <option value="2">Public</option>
                            </select>
                        </div>

                        <div class="form-group row">
                            <div class="col-8">
                                <div class="custom-control custom-checkbox custom-control-inline">
                                    <input name="Hpass" id="checkbox1_0" type="checkbox" class="custom-control-input" value="1">
                                    <label for="checkbox1_0" class="custom-control-label">Has Password</label>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" asp-action="" asp-controller="Files">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <form method="post">
        <div class="modal fade" id="Formatmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black;">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete All Files</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <h2><b>Are You Sure? Delete All File Required User Password</b></h2>
                        <br />
                        <div class="form-group row" id="PSD">
                            <label for="text" class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <div class="input-group">
                                    <input id="pass" name="pass" type="password" class="form-control">
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary" asp-controller="Files" asp-action="Format" onclick="Formatting()">Format</button>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <div class="modal fade" id="Formatting" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Formatting</h5>
                </div>
                <div class="modal-body">
                    <center>
                        <div class="loader"></div>
                        <br />
                        <br />
                        <h1><b>Formatting</b></h1>
                    </center>
                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>


