@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc
@inject IHttpContextAccessor HttpContextAccessor

<br />
@if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("uid")))
{

    <div class="text-center">
        <h1>Welcome Back @HttpContextAccessor.HttpContext.Session.GetString("fn")  @HttpContextAccessor.HttpContext.Session.GetString("ln")</h1>
    </div>

    <hr />
    <br />
}
else
{
    <div class="text-center">
        <h1 class="display-4">File Center</h1>

    </div>
}
<!--Large Screen-->
<div class="d-none d-sm-block">

    <div class="ui three column grid">
        <div class="column ">
            <div class="ui segment bg-primary">
                <h1><b>Total Users</b></h1>
                <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.Totaluser</div>
            </div>

        </div>
        <div class="column ">
            <div class="ui segment bg-danger">
                <h1><b>Total Files</b></h1>
                <div style="text-align: right; font-size: xx-large; font-weight: bold ">@ViewBag.TotalFiles</div>
            </div>

        </div>
        <div class="column ">
            <div class="ui segment bg-success">
                <h1><b>Total Blob</b></h1>
                <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.TotalBlobs</div>
            </div>

        </div>
    </div>
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("uid")))
{
    <h1><b>My Storage</b></h1>
    <hr />
    <div class="ui three column grid">
        <div class="column ">
            <div class="ui segment bg-info">
                <h1><b>Files</b></h1>
                <div style="text-align: right; font-size: xx-large; font-weight: bold ">@ViewBag.Files</div>
            </div>

        </div>
        <div class="column ">
            <div class="ui segment bg-warning" style="color:black">
                <h1><b>Blob</b></h1>
                <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.Storage</div>
            </div>
        </div>
        <div class="column ">
            <div class="ui segment bg-warning" style="color:black">
                <h1><b>Data Useage</b></h1>
                <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.space</div>
            </div>
        </div>

    </div>
    <h1><b>Services</b></h1>
    <div class="ui three column grid ">
        <div class="column">
            <div id="f01" class="ui icon message" onmouseover="Hoverd('f01')" onmouseout="Unhoverd('f01')" onclick="window.location.href = '/files';">
                <br />
                <i class="archive icon"></i>
                <div class="content">
                    <h1>My Uploads</h1>
                </div>
                <br />
            </div>
        </div>

        <div class="column">
            <div id="f02" class="ui icon message" onmouseover="Hoverd('f02')" onmouseout="Unhoverd('f02')" onclick="window.location.href = '/Files/Uploads';">
                <br />
                <i class="file icon"></i>
                <div class="content">
                    <h1>Upload Files</h1>
                </div>
                <br />
            </div>
        </div>

        <div class="column">
            <div id="f03" class="ui icon message" onmouseover="Hoverd('f03')" onmouseout="Unhoverd('f03')" onclick="window.location.href = '/Files/Uploads';">
                <br />
                <i class="server icon"></i>
                <div class="content">
                    <h1>Upload Blob</h1>
                </div>
                <br />
            </div>
        </div>

    </div>
    <h1>My Profile</h1>
    <hr />
    <div class="ui three column grid">
        <div class="column">
            <div id="f04" class="ui icon message" onmouseover="Hoverd('f04')" onmouseout="Unhoverd('f04')">
                <br />
                <i class="user icon"></i>
                <div class="content">
                    <h1>View Profile</h1>
                </div>
                <br />
            </div>
        </div>

        <div class="column">
            <div id="f05" class="ui icon message" onmouseover="Hoverd('f05')" onmouseout="Unhoverd('f05')">
                <br />
                <i class="key icon"></i>
                <div class="content">
                    <h1>Change Password</h1>
                </div>
                <br />
            </div>
        </div>      

        <div class="column">
            <div id="f09" class="ui icon message" onmouseover="Hoverd('f09')" onmouseout="Unhoverd('f09')" onclick="window.location.href = '/user/logout';">
                <br />
                <i class="power off icon"></i>
                <div class="content">
                    <h1>Log Out</h1>
                </div>
                <br />
            </div>
        </div>

    </div>
    <br />
    <br />
    <br />


}
else
{
    <div class="ui two column grid">
        <div class="column">
            <div id="f08" class="ui icon message" onmouseover="Hoverd('f08')" onmouseout="Unhoverd('f08')" onclick="window.location.href='/user/login'">
                <br />
                <i class="user icon"></i>
                <div class="content">
                    <h1>Sign In</h1>
                </div>
                <br />
            </div>
        </div>

        <div class="column">
            <div id="f07" class="ui icon message" onmouseover="Hoverd('f07')" onmouseout="Unhoverd('f07')" onclick="window.location.href='/user/register'">
                <i class="registered icon"></i>
                <div class="content">
                    <h1>Join Us</h1>
                </div>
            </div>
        </div>
    </div>
}

    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("admin")))
{
    <h1><b>Admin Tools</b></h1>
    <hr />
    <div class="ui three column grid">
        <div class="column">
            <div id="f10" class="ui icon message" onmouseover="Hoverd('f10')" onmouseout="Unhoverd('f10')">
                <br />
                <i class="address card icon"></i>
                <div class="content">
                    <h1>User Management</h1>
                </div>
                <br />
            </div>
        </div>
        <div class="column">
            <div id="f11" class="ui icon message" onmouseover="Hoverd('f11')" onmouseout="Unhoverd('f11')">
                <br />
                <i class="upload icon"></i>
                <div class="content">
                    <h1>All Uploads</h1>
                </div>
                <br />
            </div>
        </div>

        <div class="column">
            <div id="f12" class="ui icon message" onmouseover="Hoverd('f12')" onmouseout="Unhoverd('f12')" onclick="window.location.href='/user/Suspend'">
                <br />
                <i class="stop icon"></i>
                <div class="content">
                    <h1>Suspend Accounts</h1>
                </div>
                <br />
            </div>
        </div>

        <div class="column">
            <div id="f13" class="ui icon message" onmouseover="Hoverd('f13')" onmouseout="Unhoverd('f13')" onclick="window.location.href='/user/Getunverify'">
                <br />
                <i class="folder icon"></i>
                <div class="content">
                    <h1>Verify Accounts</h1>
                </div>
                <br />
            </div>
        </div>

    </div>
        }
</div>


<!--Mobile Only-->
<div class="d-block d-sm-none">

    <div class="ui segment bg-primary">
        <h1><b>Total Users</b></h1>
        <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.Totaluser</div>
    </div>



    <div class="ui segment bg-danger">
        <h1><b>Total Files</b></h1>
        <div style="text-align: right; font-size: xx-large; font-weight: bold ">@ViewBag.TotalFiles</div>
    </div>



    <div class="ui segment bg-success">
        <h1><b>Total Blob</b></h1>
        <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.TotalBlobs</div>
    </div>

    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("uid")))
    {
    <h1><b>My Storage</b></h1>
    <hr />

    <div class="ui segment bg-info">
        <h1><b>Files</b></h1>
        <div style="text-align: right; font-size: xx-large; font-weight: bold ">@ViewBag.Files</div>
    </div>
    <div class="ui segment bg-warning" style="color:black">
        <h1><b>Blob</b></h1>
        <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.Storage</div>
    </div>
    <div class="ui segment bg-warning" style="color:black">
        <h1><b>Data Useage</b></h1>
        <div style="text-align: right; font-size: xx-large; font-weight: bold">@ViewBag.space</div>
    </div>
    <hr />
    <h1><b>Services</b></h1>
    <hr />
    <div id="f01M" class="ui icon message" onmouseover="Hoverd('f01M')" onmouseout="Unhoverd('f01M')" onclick="window.location.href = '/files';">
        <br />
        <i class="archive icon"></i>
        <div class="content">
            <h1>My Uploads</h1>
        </div>
        <br />
    </div>
    <div id="f02M" class="ui icon message" onmouseover="Hoverd('f02M')" onmouseout="Unhoverd('f02M')" onclick="window.location.href = '/Files/Uploads';">
        <br />
        <i class="file icon"></i>
        <div class="content">
            <h1>Upload Files</h1>
        </div>
        <br />
    </div>
    <div id="f03M" class="ui icon message" onmouseover="Hoverd('f03M')" onmouseout="Unhoverd('f03M')" onclick="window.location.href = '/Files/Uploads';">
        <br />
        <i class="server icon"></i>
        <div class="content">
            <h1>Upload Blob</h1>
        </div>
        <br />
    </div>

    <div id="f04M" class="ui icon message" onmouseover="Hoverd('f04M')" onmouseout="Unhoverd('f04M')">
        <br />
        <i class="user icon"></i>
        <div class="content">
            <h1>View Profile</h1>
        </div>
        <br />
    </div>


    <div id="f05M" class="ui icon message" onmouseover="Hoverd('f05M')" onmouseout="Unhoverd('f05M')">
        <br />
        <i class="key icon"></i>
        <div class="content">
            <h1>Change Password</h1>
        </div>
        <br />
    </div>

    <div id="f09M" class="ui icon message" onmouseover="Hoverd('f09M')" onmouseout="Unhoverd('f09M')" onclick="window.location.href = '/user/logout';">
        <br />
        <i class="power off icon"></i>
        <div class="content">
            <h1>Log Out</h1>
        </div>
        <br />
    </div>




    }
    else
    {
    <div id="f08M" class="ui icon message" onmouseover="Hoverd('f08M')" onmouseout="Unhoverd('f08M')" onclick="window.location.href='/user/login'">
        <br />
        <i class="user icon"></i>
        <div class="content">
            <h1>Sign In</h1>
        </div>
        <br />
    </div>

    <div id="f07M" class="ui icon message" onmouseover="Hoverd('f07M')" onmouseout="Unhoverd('f07M')" onclick="window.location.href='/user/register'">
        <i class="registered icon"></i>
        <div class="content">
            <h1>Join Us</h1>
        </div>
    </div>
    }
    @if (!string.IsNullOrEmpty(HttpContextAccessor.HttpContext.Session.GetString("admin")))
{
    <h1><b>Admin Tools</b></h1>
    <hr />
    
            <div id="f10M" class="ui icon message" onmouseover="Hoverd('f10M')" onmouseout="Unhoverd('f10M')">
                <br />
                <i class="address card icon"></i>
                <div class="content">
                    <h1>User Management</h1>
                </div>
                <br />
            </div>
      
            <div id="f11M" class="ui icon message" onmouseover="Hoverd('f11M')" onmouseout="Unhoverd('f11M')">
                <br />
                <i class="upload icon"></i>
                <div class="content">
                    <h1>All Uploads</h1>
                </div>
                <br />
            </div>      
            <div id="f12M" class="ui icon message" onmouseover="Hoverd('f12M')" onmouseout="Unhoverd('f12M')" onclick="window.location.href='/user/Suspend'">
                <br />
                <i class="stop icon"></i>
                <div class="content">
                    <h1>Suspend Accounts</h1>
                </div>
                <br />
            </div>
            <div id="f13M" class="ui icon message" onmouseover="Hoverd('f13M')" onmouseout="Unhoverd('f13M')" onclick="window.location.href='/user/Getunverify'">
                <br />
                <i class="folder icon"></i>
                <div class="content">
                    <h1>Verify Accounts</h1>
                </div>
                <br />
            </div>
        }



</div>

        <script>
            function Hoverd(x) {
                document.getElementById(x).className = "ui icon message bg-info";

            }

            function Unhoverd(x) {
                document.getElementById(x).className = "ui icon message";

            }


            function Registerdseccess() {
                Swal.fire(
                    'Good job!',
                    'You clicked the button!',
                    'success'
                )
            }
        </script>

