@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using TestUpload.Models.criteria;
    List<History> histories = ViewBag.history;
    List<HistoryViewBydate> Summary = ViewBag.HistorySummary;
    List<UserView> users = ViewBag.user;
    string Mapuser(long id)
    {
        if (id == 0)
        {
            return "Guest";
        }
        else
        {
            return users.Where(x => x.Id == id).Select(x => x.Firstname + " " + x.Lastname).FirstOrDefault();
        }
    }
    string DateFormat(DateTime? Indate)
    {
        if (Indate.HasValue)
        {
            DateTime date = Indate.Value;
            return date.Year + "-" + (date.Month >= 10 ? date.Month : "0" + date.Month) + "-" + (date.Day >= 10 ? date.Day : "0" + date.Day);
        }
        return string.Empty;

    }
}
@using TestUpload.Models.Entity;
@using TestUpload.Models.View;
<script src="~/js/FilesIndex.js"></script>
<script src="/js/CommonSearch.js"></script>
<h1>History</h1>
<br />
<br />
<table class="ui  table" style="text-align:center" id="MyDate">
    <thead class="ui selectable inverted table" style="text-align:center">
        <tr>
            <th onclick="sortTable(0,'MyDate')">Date</th>
            <th onclick="sortTable(1,'MyDate')">Histories Count</th>
            <th onclick="sortTable(2,'MyDate')">Success</th>
        </tr>
    </thead>
    <tbody class="table-success">
        @foreach (var i in Summary)
        {
            <tr>
                <td>@i.Date.ToLongDateString()</td>
                <td>@i.Histories</td>
                <td>@i.Success</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h1>Details</h1>
<br />
<div class="ui labeled input">
    <div class="ui orange label">
        CommonSearch
    </div>
    <input type="text" id="SearchValue" onkeyup="Serach(this.id, 'Mybody');">
    <button class="ui blue button" data-toggle="modal" data-target="#AdvancedSearchModal">Advanced Search</button>
</div>
<br />
<br />
<form method="post">
    <div class="ui labeled input">
        <div class="ui green label">
            Clear History
        </div>
        <select name="m">
            <option value="0">All</option>
            <option value="1">1 Month</option>
            <option value="3">3 Months</option>
            <option value="5">5 Months</option>
            <option value="9">9 Months</option>
            <option value="12">1 Year</option>
            <option value="18">1 Year 6 Months</option>
            <option value="24">2 Years</option>
        </select>
        <button class="ui red button" asp-controller="Admin" asp-action="DeletedHistory">Clear</button>
    </div>
</form>
<br />
<table class="ui  table" style="text-align:center" id="Mylog">
    <thead class="ui selectable inverted table" style="text-align:center">
        <tr>
            <th onclick="sortTable(0,'Mylog')">Date</th>
            <th onclick="sortTable(1,'Mylog')">Section</th>
            <th onclick="sortTable(2,'Mylog')">Details</th>
            <th onclick="sortTable(3,'Mylog')">Related File</th>
            <th onclick="sortTable(4,'Mylog')">User</th>
            <th onclick="sortTable(5,'Mylog')">Success</th>
            <th onclick="sortTable(6,'Mylog')">Error Message</th>
        </tr>
    </thead>
    <tbody class="table-success" id="Mybody">
        @foreach (var i in histories)
        {
            <tr>
                <td>@i.Date</td>
                <td>@i.HistoryMode</td>
                <td>@i.Detail</td>
                <td>@i.RelatedFile</td>
                <td>@Mapuser(i.UserId)</td>
                <td>
                    @if (i.Issuccess)
                    {<i class="flag icon"></i>}
                </td>
                <td>
                    @if (i.ErrorLog != null)
                    {@i.ErrorLog}
                </td>
            </tr>
        }
    </tbody>
</table>

@if (ViewBag.Criteria != null)
    {
        HistoriesCriteria criteria = ViewBag.Criteria;

        <form method="post">
            <div class="modal fade" id="AdvancedSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Histories Advanced Search</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <center><h1>Advanced Search</h1></center>
                        <h2>History Date</h2>
                        <hr />
                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Start</div>
                                </div>
                                <input id="sd" name="sd" type="date" class="form-control"value="@DateFormat(criteria.Historiesdate.Startdate)">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Until</div>
                                </div>
                                <input id="ed" name="ed" type="date" class="form-control" value="@DateFormat(criteria.Historiesdate.Enddate)">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Section</div>
                                </div>
                                <select id="se" name="se" class="form-control">
                                    <option value="">All</option>
                                    @{
                                        string[] dataarr = ViewBag.se;
                                        foreach (var i in dataarr)
                                        {
                                            if (criteria.Section == i)
                                            {
                                                <option selected value="@i">@i</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@i</option>
                                            }

                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">User</div>
                                </div>
                                <select id="use" name="use" class="form-control">
                                    <option value="">All Users</option>
                                    @{

                                        foreach (var i in users)
                                        {
                                            if (i.Id == criteria.Users)
                                            {
                                             <option selected value="@i.Id">@i.Firstname&nbsp;@i.Lastname</option>
                                            }
                                            else
                                            {
                                            <option value="@i.Id">@i.Firstname&nbsp;@i.Lastname</option>
                                                
                                            }
                                        }
                                     }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">State</div>
                                </div>
                                <select id="sec" name="sec" class="form-control">
                                    @{
                                        string[] arr = { "All State", "Successful", "Failed" };
                                        for (int i = 0; i < arr.Length; i++)
                                        {
                                            if (criteria.State == i)
                                            {
                                                <option selected value="@i">@arr[i]</option>
                                            }
                                            else
                                            {
                                                <option value="@i">@arr[i]</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" formaction="/user/Admin/history" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}
else
{
    <!--AdvancedSearchModal-->
    <form method="post">
        <div class="modal fade" id="AdvancedSearchModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="color:black">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Histories Advanced Search</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <center><h1>Advanced Search</h1></center>
                        <h2>History Date</h2>
                        <hr />
                        <div class="form-group">

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Start</div>
                                </div>
                                <input id="sd" name="sd" type="date" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Until</div>
                                </div>
                                <input id="ed" name="ed" type="date" class="form-control">
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">Section</div>
                                </div>
                                <select id="se" name="se" class="form-control">
                                    <option value="">All</option>
                                    @{
                                        var dataarr = histories.Select(x => x.HistoryMode).Distinct().ToArray();
                                        foreach (var i in dataarr)
                                        {
                                            
                                            <option value="@i">@i</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">User</div>
                                </div>
                                <select id="use" name="use" class="form-control">
                                    <option value="">All Users</option>
                                    @{

                                        foreach (var i in users)
                                        {
                                            <option value="@i.Id">@i.Firstname&nbsp;@i.Lastname</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">State</div>
                                </div>
                                <select id="sec" name="sec" class="form-control">
                                    <option value="0">All State</option>
                                    <option value="1">Successful</option>
                                    <option value="2">Failed</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" formaction="/user/Admin/history" class="btn btn-primary">Search</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
}

