@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    User data = ViewBag.data;
    var Session = ViewBag.CurrentSession;
    List<History> histories = ViewBag.h;
}
@using TestUpload.Models.Entity;

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="/js/FilesIndex.js"></script>
<br />
<center>
    <h1><b>Profiles</b></h1>
</center>
<br />
<br />
<form class="container">
    <div class="form-group">
        <label for="text">User Id</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <div class="input-group-text">
                    <i class="fa fa-address-card"></i>
                </div>
            </div>
            <input id="text" name="text" type="text" class="form-control" value="@data.Id" readonly>
        </div>
    </div>
    <div class="form-group">
        <label for="text1">Firstname</label>
        <input id="text1" name="text1" type="text" class="form-control" value="@data.Firstname" readonly>
    </div>
    <div class="form-group">
        <label for="text2">Lastname</label>
        <input id="text2" name="text2" type="text" class="form-control" value="@data.Lastname" readonly>
    </div>
    <div class="form-group">
        <label>Sex</label>
        <div>
            <div class="custom-control custom-radio custom-control-inline">
                <input name="radio1" id="radio1_0" type="radio" class="custom-control-input" value="1" checked="@data.Male" disabled>
                <label for="radio1_0" class="custom-control-label">Male</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
                @if (!data.Male)
                {
                    <input name="radio1" id="radio1_1" type="radio" class="custom-control-input" value="0" checked disabled>
                }
                else
                {
                    <input name="radio1" id="radio1_1" type="radio" class="custom-control-input" value="0" disabled>
                }

                <label for="radio1_1" class="custom-control-label">Female</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="text4">Email</label>
        <input id="text4" name="text4" type="text" class="form-control" value="@data.Email" readonly>
    </div>
    <div class="form-group">
        <label for="text3">Username</label>
        <input id="text3" name="text3" type="text" class="form-control" value="@data.Login.Username" readonly>
    </div>
    <div class="form-group">
        <label for="text6">Brithday</label>
        <input id="text6" name="text6" type="text" class="form-control" value="@data.BrithDay" readonly>
    </div>
    <div class="form-group">
        <label for="text5">Registerd Date</label>
        <input id="text5" name="text5" type="text" class="form-control" value="@data.Registerd" readonly>
    </div>
    <div class="form-group">
        <label for="text7">Status</label>
        <input id="text7" name="text7" type="text" class="form-control" value="Verified" readonly>
    </div>
    <div class="form-group">
        <label for="text8">Verified Date</label>
        <input id="text8" name="text8" type="text" class="form-control" value="@data.VerifyDate" readonly>
    </div>
    <div class="form-group">
        <label for="text9">Verify By</label>
        <input id="text9" name="text9" type="text" class="form-control" value="@data.VerifyBy" readonly>
    </div>
    <div class="form-group">
        <label for="textA">Current Session</label>
        <input id="textA" name="textA" type="text" class="form-control" value="@Session" readonly>
    </div>
</form>

<center><h1>My History</h1></center>
<table class="ui  table" style="text-align:center" id="Mylog">
    <thead class="ui selectable inverted table" style="text-align:center">
        <tr>
            <th onclick="sortTable(0,'Mylog')">Date</th>
            <th onclick="sortTable(1,'Mylog')">Section</th>
            <th onclick="sortTable(2,'Mylog')">Details</th>
            <th onclick="sortTable(3,'Mylog')">Related File</th>
            <th onclick="sortTable(4,'Mylog')">Success</th>
        </tr>
    </thead>
    <tbody class="table-success" id="Mybody">
        @foreach(var i in histories)
            {
                <tr>
                    <td>@i.Date</td>
                    <td>@i.HistoryMode</td>
                    <td>@i.Detail</td>
                    <td>@i.RelatedFile</td>
                    <td>
                        @if (i.Issuccess)
                        {<i class="flag icon"></i>}
                    </td>
                </tr>
            }
</tbody>
</table>